<section>
    <h2>Autor del Blog:</h2>
    <p>Nombre: <strong>Antonio de Silóniz</strong></p>
    <img src="/images/foto.jpeg"/>
    <p>Antonio de Silóniz es el profesor de FTEL, RSTC, SDG1, RDOR, CORE y RECO de la Academia Integra. Le encanta programar y la música.</p>
</section>