<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
            <a href="/">Home</a>
            <a href="/author">Autor</a>
      </nav>
    </header>
    <h1>Marco de aplicación</h1>
    <body>
      <%- body %>
    </body>
    <footer>
      <p>Desarrollado por: <strong>ACADEMIA INTEGRA</strong></p>
    </footer>
  </body>
</html>
