body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-content {
  border: 3px solid orange;
  padding: 16px;
}

img {
  width: 200px;
}

footer {
  border: 3px solid lightgreen;
  margin-top: 8px;
  padding: 8px;
}